 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col item">
                    <p class="text-center">Estudante de Ciencias da computação pela CESAR School e desenvolverdor de Sistemas a 4 anos. Com foco em desenvolvimento Web e Mobile. Atuando em aplicações Hibridas e Nativas (Android).</p>
                </div>
                
                
            </div>
            <div class="row">
                    <div class="col item">
                            <h3 style="text-align:center;">Conhecimentos</h3>
                            <h5>Linguagens:</h5>
                            <p>  Javascript, SASS, Typescript, Java, Python, C++ e PHP   </p>
                            <h5>Tecnologias:</h5>
                            <p>  Angular, Ionic, React/Native e Android         </p>
                        </div>
            </div>
        </div>
    </section>
